.App {
  text-align: center;
}

.client-list {
  /*height: 40px;*/
}
.client-item {
  height: 275px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 5px;
}

.timezone-picker {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 100;
  background: #fff;
}


.header__wrap {
  float: right;
  padding: 10px;
}
